:root {
    --primary: #008060;
    --secondary: #043D52;
}
.input-group-text {
    height: auto;
}
.form-control:focus,
.form-control.search-form-input:focus {
    box-shadow: none;
    border-color: #ced4da;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* cart page style */
.td-action-x button {
    box-shadow: none;
    border: 1px solid red;
    color: red;
    background: transparent;
    border-radius: 4px;
    width: 35px;
    height: 35px;
}
.td-action-x button:hover {
    background: red;
    color: white;
}

.card-title {
    font-size: 20px;
    color: var(--secondary);
}
/* Radio Input */
.payment-method .form-check-input,
.shipping-method .form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.shipping-method .form-check-label,
.payment-method .form-check-label {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #dadcde;
    padding-left: 26px;
    width: 100%;
}
.payment-method .form-check-label strong,
.shipping-method .form-check-label strong {
    color: #000000;
}
.shipping-method .form-check-label p,
.payment-method .form-check-label p {
    color: #9F9F9F;
}
.shipping-method .form-check:last-child .form-check-label,
.payment-method .form-check:last-child .form-check-label {
    border-bottom: none;
}

.payment-method .form-check-label:before,
.shipping-method .form-check-label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #9F9F9F;
    left: 0;
    top: 12px;
    border-radius: 50%;
}
.payment-method .form-check-label:after,
.shipping-method .form-check-label:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #9F9F9F;
    left: 4px;
    top: 16px;
    border-radius: 50%;
}
.payment-method .form-check-input:checked + .form-check-label:before,
.shipping-method .form-check-input:checked + .form-check-label:before {
    border: 1px solid var(--primary);
}

.payment-method .form-check-input:checked + .form-check-label:after,
.shipping-method .form-check-input:checked + .form-check-label:after {
    background: var(--primary);
}

.payment-method .form-check-input:checked + .form-check-label strong,
.shipping-method .form-check-input:checked + .form-check-label strong {
    color: var(--primary);
}

/* Info Table */
.info-table tbody td {
    vertical-align: middle;
}
.info-table tbody td:first-child {
    width: 35%;
    text-align: right;
    text-transform: uppercase;
    color: var(--secondary);
}
.info-table tbody td:nth-child(2) .form-control,
.info-table tbody td:nth-child(2) {
    font-weight: 700;
    color: var(--secondary);
}
.info-table .main-amount {
    width: 68%;
}
.info-table .discount-amount-in-percentage {
    width: 20%;
}
.info-table .discount-amount-in-percentage + .input-group-text {
    width: 10%;
}

/* Customer Info */
.customer-label {
    color: var(--secondary);
}

/* Print Section */
.print-check-item .col-invoice {
    border-right: 1px solid #dee2e6;
}
.print-check-item ul li {
    margin-bottom: 10px;
}
.print-check-item .btn-wrap .btn-check:checked + .btn {
    background: rgba(0, 128, 96, 0.1);
    border: 1px solid #008060;
    border-radius: 5px;
    color: #008060;
    box-shadow: none;
}

.print-check-item .btn-wrap .btn-check:not(:checked) + .btn:not(:disabled):not(.disabled):not(.btn-link):hover,
.print-check-item .btn-wrap .btn {
    border: 1px solid #D9ECE7;
    color: #8F8E8E;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    box-shadow: none;
}

.print-check-item .btn-wrap .btn-check:focus + .btn,
.print-check-item .btn-wrap .btn:focus {
    box-shadow: none;
}

.print-check-item .btn-wrap .btn i {
    display: none;
    position: absolute;
    left: 16px;
    top: 12px;
}
.print-check-item .btn-wrap .btn-check:checked+.btn i {
    display: inline-block;
}

/* Print Notification */
.print-notification.btn-wrap .btn i {
    display: inline-block;
    left: 16px;
    top: 9px;
    font-size: 18px;
}

.print-check-item .btn-finish-sale {
    height: 60px;
    background: var(--secondary);
    color: #FFF;
    transition: .3s all;
}
.print-check-item .btn-finish-sale:hover {
    background: transparent;
    color: var(--secondary);
}

/* Responsive */
@media (max-width: 1365px) {
    .info-table .main-amount {
        width: 60%;
    }
    .print-notification.btn-wrap .btn-check:checked+.btn i,
    .print-notification.btn-wrap .btn i {
        display: none;
    }

}
@media (max-width: 1199px) {
    .print-notification.btn-wrap .btn-check:checked+.btn i,
    .print-notification.btn-wrap .btn i {
        display: inline-block;
    }
}
@media (max-width: 767px) {
    .print-check-item .col-invoice {
        border-right: none;
    }
}
@media (max-width: 575px) {
    .info-table tbody tr {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .info-table tbody td:first-child {
        width: 100%;
        text-align: left;
    }
    .info-table tbody td #cart_form_date {
        font-size: 13px;
    }
}