.dashboard-home .content-wrapper {
    background: #f4f6fa;
}
.dashboard-home .dash-top .card {
    padding-left: 55px;
}
.dashboard-home .table-vcenter>:not(caption)>*>* {
    vertical-align: middle;
}
.dashboard-home .table-vcenter thead tr th:first-child,
.dashboard-home .table-vcenter tbody tr td:first-child {
    padding-left: 16px;
}
.dashboard-home .table-vcenter thead tr th:last-child,
.dashboard-home .table-vcenter tbody tr td:last-child {
    padding-right: 16px;
}