.dashboard-home .content-wrapper {
    background: #f4f6fa;
}
.dash-top .card {
    padding-left: 55px;
}
.table-vcenter>:not(caption)>*>* {
    vertical-align: middle;
}
.table-vcenter thead tr th:first-child,
.table-vcenter tbody tr td:first-child {
    padding-left: 16px;
}
.table-vcenter thead tr th:last-child,
.table-vcenter tbody tr td:last-child {
    padding-right: 16px;
}
.btn {
    padding: 9px 17px;
}