.content-top .search-form {
    position: relative;
}
.content-top .search-form .btn {
    border-radius: 0;
    border-right: none;
    box-shadow: none;
    background: transparent;
    position: absolute;
}
.content-top .search-form .form-control {
    padding: 9px 17px 9px 40px;
}

.content-top .btn {
    padding: 9px 17px;
}