{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'New Cart'|trans %}

{% block page_content %}
<form name="cart_form" method="post">
    <div class="row row-deck row-cards" data-controller="cart">
        <div class="col-12 mb-5">
            <div class="card cart-top-prod-table">
                <div class="" data-cart-target="sellParent" data-count-sell="1">
                    <table class="table card-table datatable text-nowrap table-borderless">
                        <thead>
                            <tr>
                                <th class="bg-transparent">Product<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Stock<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Unit Price<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Quantity<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Total Price<span class="required">*</span>
                                </th>
                                <th class="bg-transparent"></th>
                            </tr>
                        </thead>
                        <tbody data-cart-target="sellCollection">
                            <tr data-controller="sell" data-sell-url-value="/cart/product/QUERY" id="cart_form_sell_0" name="cart_form[sell][0]" required="required">
                                <td class="td-product w-28p">
                                    <div class="input-group p-0">
                                        <div class="cart-item border rounded d-none" data-sell-target="productSelected" data-action="click->sell#onRepeatSearch"></div>
                                        <div class="dropdown-menu dropdown-cart-item show" data-sell-target="productSearchDropdown">
                                            <div class="dropdown-header px-0 border" data-sell-target="productSearchDropdownHeader">
                                                <div class="input-icon col-12">
                                                    <input type="text" class="form-control border-0" placeholder="Type to search for a product" data-sell-target="productSearchInput" data-action="sell#onSearch">
                                                    <span class="input-icon-addon">
                                                        <div class="spinner-border spinner-border-sm text-muted" role="status" data-sell-target="productSearchInputIconSpinner"></div>
                                                        <a href="#" data-sell-target="productSearchInputIconX" data-action="sell#clearQuery">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                        <i class="fas fa-search d-block" data-sell-target="productSearchInputIconSearch"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="dropdown-result" data-sell-target="productSearchResult"></div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="cart_form_sell_0_product" name="cart_form[sell][0][product]" data-sell-target="productSelectedInput" class="form-control">
                                </td>
                                <td class="td-stock w-27p">

                                    <div class="input-group p-0">
                                        <div class="cart-item border rounded" data-sell-target="stockSelected" data-action="click->sell#onListStock">
                                            <br>
                                            <span class="cart-item-title">Select a product first to select stock</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-cart-item" data-sell-target="stockListDropdown">
                                            <div class="dropdown-header border">
                                                Select stock
                                            </div>
                                            <div class="dropdown-result" data-sell-target="stockListResult"></div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="cart_form_sell_0_stock" name="cart_form[sell][0][stock]" data-sell-target="stockSelectedInput" class="form-control">
                                </td>
                                <td class="td-unit-price w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_unitPrice" name="cart_form[sell][0][unitPrice]" required="required" step="any" data-action="sell#calculateTotal" data-sell-target="unitPrice" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-quantity w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_quantity" name="cart_form[sell][0][quantity]" required="required" min="1" data-action="sell#calculateTotal" data-sell-target="unitQuantity" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-total-price w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_totalPrice" name="cart_form[sell][0][totalPrice]" required="required" readonly="readonly" step="any" data-sell-target="totalPrice" data-cart-target="sellRowTotalPrice" data-action="cart#calculateCartSubTotalPrice" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-action-x w-5p">
                                    <button type="button" data-action="cart#removeSellRow">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-body pt-0">
                    <button type="button" class="btn btn-primary text-uppercase" data-action="cart#addSellRow">
                        <i class="fas fa-plus"></i>
                        Add A Product
                    </button>
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <div class="col-xl-6 col-lg-12 cart-bot-tables mb-5">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-uppercase font-weight-bold mb-4">Payment Method<span class="required">*</span>
                        </h1>
                        <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-money-check-alt"></i>
                                    </span>
                                    <div>
                                        City Bank
                                        <p class="bottom-text mb-0">352938039433</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-money-check-alt"></i>
                                    </span>
                                    <div>
                                        Brac
                                        <p class="bottom-text mb-0">352938039433</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-money-check-alt"></i>
                                    </span>
                                    <div>
                                        BKash
                                        <p class="bottom-text mb-0">01734343420</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-money-check-alt"></i>
                                    </span>
                                    <div>
                                        Cash On Delivery
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-uppercase font-weight-bold mb-4">SHIPMENT METHOD<span class="required">*</span>
                        </h1>
                        <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-truck"></i>
                                    </span>
                                    <div>
                                        Walk in Customer
                                        <p class="bottom-text mb-0">Free</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-store-alt"></i>
                                    </span>
                                    <div>
                                        In Store Pickup
                                        <p class="bottom-text mb-0">Free of Cost</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-truck"></i>
                                    </span>
                                    <div>
                                        SA Paribahan
                                        <p class="bottom-text mb-0">Free Shipping</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-truck"></i>
                                    </span>
                                    <div>
                                        Sundarban Courier
                                        <p class="bottom-text mb-0">Inside Dhaka</p>
                                    </div>
                                </div>
                            </label>
                            <label class="form-selectgroup-item flex-fill">
                                <input type="radio" id="cart_form_paymentMethod_41" name="cart_form[paymentMethod]" required="required" class="form-check-input" value="41">
                                <div class="form-check-label d-flex align-items-center ps-4">
                                    <span class="me-2">
                                        <i class="fas fa-truck"></i>
                                    </span>
                                    <div>
                                        Sundarban Courier
                                        <p class="bottom-text mb-0">Outside Dhaka</p>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 cart-mid-tables info-table mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Sub Total<span class="required">*</span>
                        </label>
                        <div class="w-100 bg-light px-2 d-flex align-items-center">10,100.00</div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Discount<span class="required">*</span>
                        </label>
                        <div class="input-group">
                            <input type="number" id="cart_form_discount" name="cart_form[discount]" required="required" step="any" class="no-number-spin number-field form-control me-2" data-action="cart#calculateTotal" data-cart-target="cartDiscount" value="0.00">
                            <div class="input-icon">
                                <span class="input-icon-addon">
                                    <i class="fas fa-percentage"></i>
                                </span>
                            </div>
                            <input type="number" min="0" max="100" step="any" class="form-control no-number-spin pe-5" data-cart-target="cartDiscountPercent" data-action="cart#calculateDiscountPercent">
                        </div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Total<span class="required">*</span>
                        </label>
                        <div class="w-100 bg-light px-2 d-flex align-items-center">10,000.00</div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Flag Shipping Rate (Nationwide)</label>
                        <div class="w-100 bg-light px-2 d-flex align-items-center">1,000.00</div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Credit card gateway Fee</label>
                        <div class="w-100 bg-light px-2 d-flex align-items-center"><span class="me-3">100.00</span><span>25%</span></div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Grand Total*</label>
                        <div class="w-100 bg-light px-2 d-flex align-items-center">50,00000.00</div>
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label text-uppercase">Payment<span class="required">*</span>
                        </label>
                        <input type="number" id="cart_form_payment" name="cart_form[payment]" required="required" step="any" class="no-number-spin form-control" data-cart-target="cartPayment">
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label col-2 col-form-label text-uppercase">Remarks</label>
                        <input type="text" id="cart_form_remarks" name="cart_form[remarks]" maxlength="255" class="form-control">
                    </div>

                    <div class="d-flex mb-3">
                        <label class="form-label col-2 col-form-label text-uppercase">Date<span class="required">*</span>
                        </label>
                        <input type="datetime-local" id="cart_form_date" name="cart_form[date]" required="required" class="form-control" value="2021-09-29T21:59:21">
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle Section -->
        <div class="col-lg-12 col-xl-6 cart-mid-tables new-customer mb-5">
            <div class="card customer-data h-100">
                <div class="card-body">
                    <fieldset class="bg-transparent border-0" data-cart-target="cartNewCustomerFieldset">
                        <h1 class="card-title text-uppercase font-weight-bold mb-4">Customer</h1>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase"></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text h-auto bg-transparent" id="basic-addon1"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control border-start-0 search-form-input" placeholder="Search for customer" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Name<span class="required">*</span>
                            </label>
                            <input type="text" id="cart_form_newCustomer_name" name="cart_form[newCustomer][name]" required="required" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control">
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Phone<span class="required">*</span>
                            </label>
                            <input type="text" id="cart_form_newCustomer_email" name="cart_form[newCustomer][email]" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control">
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Email<span class="required">*</span>
                            </label>
                            <input type="email" id="cart_form_newCustomer_email" name="cart_form[newCustomer][email]" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control">
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Region<span class="required">*</span></label>
                            <div class="input-dropdown position-relative flex-grow-1">
                                <input type="text" id="cart_form_newCustomer_region" name="cart_form[newCustomer][email]" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu" aria-labelledby="cart_form_newCustomer_region">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">City<span class="required">*</span></label>
                            <div class="input-dropdown position-relative flex-grow-1">
                                <input type="text" id="cart_form_newCustomer_city" name="cart_form[newCustomer][email]" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu" aria-labelledby="cart_form_newCustomer_city">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Area<span class="required">*</span></label>
                            <div class="input-dropdown position-relative flex-grow-1">
                                <input type="text" id="cart_form_newCustomer_area" name="cart_form[newCustomer][email]" maxlength="255" data-cart-target="cartNewCustomerFieldsetInput" class="form-control dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu" aria-labelledby="cart_form_newCustomer_area">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <label class="form-label text-uppercase">Address<span class="required">*</span>
                            </label>
                            <textarea id="cart_form_newCustomer_address" name="cart_form[newCustomer][address]" required="required" data-cart-target="cartNewCustomerFieldsetInput" class="form-control"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6 cart-mid-tables cart-print-section mb-5">
            <div class="card h-100">
                <div class="card-body px-0">
                    <h1 class="card-title text-uppercase font-weight-bold mb-4 px-3">Print</h1>
                    <hr>

                    <div class="print-check-item btn-wrap px-3 py-4">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-invoice3" checked autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-invoice3"><i class="fa fa-check me-1"></i>ইনভয়েস</label>
                            </li>

                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-pause-invoice3" checked autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-pause-invoice3"><i class="fa fa-check me-1"></i>পস ইনভয়েস</label>
                            </li>

                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-pad-invoice3" checked autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-pad-invoice3"><i class="fa fa-check me-1"></i>প্যাড ইনভয়েস</label>
                            </li>

                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-double-invoice3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-double-invoice3"><i class="fa fa-check me-1"></i>ডাবল ইনভয়েস</label>
                            </li>

                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-courier-challan3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-courier-challan3"><i class="fa fa-check me-1"></i>কুরিয়ার চালান</label>
                            </li>

                            <li class="list-inline-item">
                                <input type="checkbox" class="btn-check" id="btn-mushak3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btn-mushak3"><i class="fa fa-check me-1"></i>মুসক চালান</label>
                            </li>
                        </ul>
                    </div>

                    <hr>

                    <div class="print-bot-check-item px-3 py-4">
                        <div class="form-selectgroup form-selectgroup-boxes d-flex">
                            <label class="form-selectgroup-item">
                                <input type="checkbox" name="name" value="HTML" class="form-check-input" checked="">
                                <span class="form-check-label"><i class="fas fa-comment-alt"></i></span>
                            </label>
                            <label class="form-selectgroup-item ps-2">
                                <input type="checkbox" name="name" value="HTML" class="form-check-input">
                                <span class="form-check-label"><i class="fas fa-envelope"></i></span>
                            </label>
                        </div>
                    </div>

                    <hr>

                    <div class="px-3">
                        <a href="#" class="btn btn-primary p-3 w-100 text-uppercase">Finish Sale</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="cart_form__token" name="cart_form[_token]" class="form-control" value="gyjeu3uSZ7FgkJ14iptvGdeyEtDEuenY_VCQ441iMoM">
</form>

{% endblock %}
