{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'New Cart'|trans %}

{% block page_content %}
<form name="cart_form" method="post">
    <div class="row row-deck row-cards" data-controller="cart">
        <div class="col-12 mb-5">
            <div class="card cart-top-prod-table">
                <div class="" data-cart-target="sellParent" data-count-sell="1">
                    <table class="table card-table datatable text-nowrap table-borderless">
                        <thead>
                            <tr>
                                <th class="bg-transparent">Product<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Stock<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Unit Price<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Quantity<span class="required">*</span>
                                </th>
                                <th class="bg-transparent">Total Price<span class="required">*</span>
                                </th>
                                <th class="bg-transparent"></th>
                            </tr>
                        </thead>
                        <tbody data-cart-target="sellCollection">
                            <tr data-controller="sell" data-sell-url-value="/cart/product/QUERY" id="cart_form_sell_0" name="cart_form[sell][0]" required="required">
                                <td class="td-product w-28p">
                                    <div class="input-group p-0">
                                        <div class="cart-item border rounded d-none" data-sell-target="productSelected" data-action="click->sell#onRepeatSearch"></div>
                                        <div class="dropdown-menu dropdown-cart-item show" data-sell-target="productSearchDropdown">
                                            <div class="dropdown-header px-0 border" data-sell-target="productSearchDropdownHeader">
                                                <div class="input-icon col-12">
                                                    <input type="text" class="form-control border-0" placeholder="Type to search for a product" data-sell-target="productSearchInput" data-action="sell#onSearch">
                                                    <span class="input-icon-addon">
                                                        <div class="spinner-border spinner-border-sm text-muted" role="status" data-sell-target="productSearchInputIconSpinner"></div>
                                                        <a href="#" data-sell-target="productSearchInputIconX" data-action="sell#clearQuery">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                        <i class="fas fa-search d-block" data-sell-target="productSearchInputIconSearch"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="dropdown-result" data-sell-target="productSearchResult"></div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="cart_form_sell_0_product" name="cart_form[sell][0][product]" data-sell-target="productSelectedInput" class="form-control">
                                </td>
                                <td class="td-stock w-27p">

                                    <div class="input-group p-0">
                                        <div class="cart-item border rounded" data-sell-target="stockSelected" data-action="click->sell#onListStock">
                                            <br>
                                            <span class="cart-item-title">Select a product first to select stock</span>
                                        </div>
                                        <div class="dropdown-menu dropdown-cart-item" data-sell-target="stockListDropdown">
                                            <div class="dropdown-header border">
                                                Select stock
                                            </div>
                                            <div class="dropdown-result" data-sell-target="stockListResult"></div>
                                        </div>
                                    </div>

                                    <input type="hidden" id="cart_form_sell_0_stock" name="cart_form[sell][0][stock]" data-sell-target="stockSelectedInput" class="form-control">
                                </td>
                                <td class="td-unit-price w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_unitPrice" name="cart_form[sell][0][unitPrice]" required="required" step="any" data-action="sell#calculateTotal" data-sell-target="unitPrice" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-quantity w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_quantity" name="cart_form[sell][0][quantity]" required="required" min="1" data-action="sell#calculateTotal" data-sell-target="unitQuantity" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-total-price w-10p">
                                    <div class="">
                                        <input type="number" id="cart_form_sell_0_totalPrice" name="cart_form[sell][0][totalPrice]" required="required" readonly="readonly" step="any" data-sell-target="totalPrice" data-cart-target="sellRowTotalPrice" data-action="cart#calculateCartSubTotalPrice" class="form-control no-number-spin py-11 pe-16 form-control">
                                    </div>
                                </td>
                                <td class="td-action-x w-5p">
                                    <button type="button" data-action="cart#removeSellRow">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-body pt-0">
                    <button type="button" class="btn btn-primary text-uppercase" data-action="cart#addSellRow">
                        <i class="fas fa-plus"></i>
                        Add A Product
                    </button>
                </div>
            </div>
        </div>

        <!-- Middle Section -->
        <div class="col-xl-6 col-lg-12 cart-mid-tables mb-5">
            <div class="card-group h-100">
                <div class="card payment-method">
                    <div class="card-body">
                        <h1 class="card-title text-uppercase font-weight-bold">Payment Method<span class="required">*</span></h1>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="cityBank">
                            <label class="form-check-label position-relative" for="cityBank">
                                <strong class="">City Bank</strong>
                                <p class="bottom-text mb-0">352938039433</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="bracBank">
                            <label class="form-check-label position-relative" for="bracBank">
                                <strong class="">Brac</strong>
                                <p class="bottom-text mb-0">352938039433</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="bkash">
                            <label class="form-check-label position-relative" for="bkash">
                                <strong class="">BKash</strong>
                                <p class="bottom-text mb-0">01734343420</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="cod">
                            <label class="form-check-label position-relative" for="cod">
                                <strong class="">Cash On Delivery</strong>
                                <p class="bottom-text mb-0">1,020 Taka</p>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card shipping-method">
                    <div class="card-body">
                        <h1 class="card-title text-uppercase font-weight-bold">SHIPMENT METHOD<span class="required">*</span>
                        </h1>

                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="walkinCustomer">
                            <label class="form-check-label position-relative" for="walkinCustomer">
                                <strong class="">Walk in Customer</strong>
                                <p class="bottom-text mb-0">Free</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="inStore">
                            <label class="form-check-label position-relative" for="inStore">
                                <strong class="">In Store Pickup</strong>
                                <p class="bottom-text mb-0">Free</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="saparibahan">
                            <label class="form-check-label position-relative" for="saparibahan">
                                <strong class="">SA Paribahan</strong>
                                <p class="bottom-text mb-0">Free Shipping</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="sundarbanDhk">
                            <label class="form-check-label position-relative" for="sundarbanDhk">
                                <strong class="">Sundarban Courier</strong>
                                <p class="bottom-text mb-0">Inside Dhaka</p>
                            </label>
                        </div>
                        <div class="form-check position-relative ps-0">
                            <input class="form-check-input" type="radio" name="radioInput" id="subdarbanOutofDhk">
                            <label class="form-check-label position-relative" for="subdarbanOutofDhk">
                                <strong class="">Sundarban Courier</strong>
                                <p class="bottom-text mb-0">Inside Dhaka</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 cart-mid-tables mb-5">
            <div class="card info-table h-100">
                <div class="card-body">
                    <table class="table table-striped table-borderless">
                        <tbody>
                        <tr>
                            <td>Sub Total<span class="required">*</span></td>
                            <td>10,100.00</td>
                        </tr>
                        <tr>
                            <td>Discount<span class="required">*</span></td>
                            <td>
                                <div class="input-group discount">
                                    <input type="text" class="form-control border-0 border-bottom rounded-0 p-0 me-2 main-amount" aria-label="Amount (to the nearest dollar)">
                                    <input type="text" class="form-control border-0 border-bottom rounded-0 p-0 discount-amount-in-percentage" aria-label="Amount (to the nearest dollar)">
                                    <span class="input-group-text bg-transparent border-0 border-bottom rounded-0 py-0">%</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total<span class="required">*</span></td>
                            <td>10,100.00</td>
                        </tr>
                        <tr>
                            <td>Flag Shipping Rate (Nationwide)<span class="required">*</span></td>
                            <td>1,000.00</td>
                        </tr>
                        <tr>
                            <td>Credit card gateway Fee (2.5%)</td>
                            <td>1,00.00</td>
                        </tr>
                        <tr>
                            <td>Grand Total<span class="required">*</span></td>
                            <td>50,00000.00</td>
                        </tr>
                        <tr>
                            <td>Payment<span class="required">*</span></td>
                            <td>
                                <input type="text" class="form-control p-0 border-0 border-bottom rounded-0 bg-transparent">
                            </td>
                        </tr>
                        <tr>
                            <td>Remarks<span class="required">*</span></td>
                            <td>
                                <input type="text" class="form-control p-0 border-0 border-bottom rounded-0 bg-transparent">
                            </td>
                        </tr>
                        <tr>
                            <td>Date<span class="required">*</span></td>
                            <td>
                                <input type="datetime-local" id="cart_form_date" name="cart_form[date]" required="required" class="form-control p-0 bg-transparent border-0 p-0" value="2021-09-29T21:59:21">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Bottom Section -->
        <div class="col-xl-6 col-lg-12 cart-bot-table mb-5">
            <div class="card h-100">
                <div class="card-body pe-lg-5">
                    <h1 class="card-title text-uppercase font-weight-bold">Customer<span class="required">*</span></h1>

                    <div class="row mb-3">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-text h-auto bg-transparent" id="basic-addon1"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control border-start-0 search-form-input" placeholder="Search for customer" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Name<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Phone<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Email<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Region<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">City<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Area<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="customer-label text-uppercase text-md-end">Address<span class="required">*</span></div>
                        </div>
                        <div class="col-md-8">
                            <textarea name="address" id="address" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-xl-6 col-lg-12 cart-bot-table mb-5">
            <div class="card h-100 print-check-item">
                <div class="card-body px-0 pb-0">
                    <h1 class="card-title text-uppercase font-weight-bold px-3">Print</h1>
                    <hr class="mt-3 mb-0">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-invoice pe-md-0">
                                <div class="btn-wrap px-3 pt-4">
                                    <ul class="list-unstyled mb-0">
                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-invoice3" checked autocomplete="off">
                                            <label class="btn w-100" for="btn-invoice3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">ইনভয়েস</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-pause-invoice3" checked autocomplete="off">
                                            <label class="btn w-100" for="btn-pause-invoice3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">পস ইনভয়েস</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-pad-invoice3" checked autocomplete="off">
                                            <label class="btn w-100" for="btn-pad-invoice3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">প্যাড ইনভয়েস</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-double-invoice3" autocomplete="off">
                                            <label class="btn w-100" for="btn-double-invoice3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">ডাবল ইনভয়েস</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-courier-challan3" autocomplete="off">
                                            <label class="btn w-100" for="btn-courier-challan3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">কুরিয়ার চালান</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="btn-mushak3" autocomplete="off">
                                            <label class="btn w-100" for="btn-mushak3"><i class="fa fa-check me-1"></i><span class="item-name d-inline-block">মুসক চালান</span></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 ps-md-0">
                                <div class="print-notification btn-wrap px-3 py-4">
                                    <ul class="list-unstyled mb-0">
                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="mobile-notification" checked autocomplete="off">
                                            <label class="btn w-100" for="mobile-notification"><i class="fas fa-mobile-alt"></i><span class="item-name d-inline-block">মোবাইল নোটিফিকেশন</span></label>
                                        </li>

                                        <li class="">
                                            <input type="checkbox" class="btn-check" id="message-notification" autocomplete="off">
                                            <label class="btn w-100" for="message-notification"><i class="fas fa-envelope"></i><span class="item-name d-inline-block">মেসেজ নোটিফিকেশন</span></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-3 pt-md-4 pb-4">
                        <button class="btn btn-lg w-100 text-uppercase btn-finish-sale">Finish Sale</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="cart_form__token" name="cart_form[_token]" class="form-control" value="gyjeu3uSZ7FgkJ14iptvGdeyEtDEuenY_VCQ441iMoM">
</form>

{% endblock %}
