{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Empty Page'|trans %}

{% block content_header_wrapper %}
{% endblock %}

{% block body_class %}dashboard-empty-page {{parent()}}{% endblock %}

{% block main %}
  <div>
  empty
  </div>
{% endblock %}