{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Dashboard Home'|trans %}

{% block content_header_wrapper %}
{% endblock %}

{% block body_class %}dashboard-home {{parent()}}{% endblock %}

{% block main %}
  <div class="">
    <!-- Top Section -->
    <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-5 pt-4 dash-top">
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <div class="text-muted mt-3 text-uppercase title">New Order</div>
            <div class="h1 m-0 mb-3 fw-bold amount">3120</div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <div class="text-muted mt-3 text-uppercase title">New Order</div>
            <div class="h1 m-0 mb-3 fw-bold amount">3120</div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <div class="text-muted mt-3 text-uppercase title">New Order</div>
            <div class="h1 m-0 mb-3 fw-bold amount">3120</div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <div class="text-muted mt-3 text-uppercase title">New Order</div>
            <div class="h1 m-0 mb-3 fw-bold amount">3120</div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <div class="text-muted mt-3 text-uppercase title">New Order</div>
            <div class="h1 m-0 mb-3 fw-bold amount">3120</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Middle Section -->
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title text-uppercase fw-bold mb-0">Sale Report</h5>
              <div class="dropdown ms-auto">
                <a class="" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View More</a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item active" href="#">Last 7 days</a>
                  <a class="dropdown-item" href="#">Last 30 days</a>
                  <a class="dropdown-item" href="#">Last 3 months</a>
                </div>
              </div>
            </div>
            <div id="chart">
              <img src="assets/images/chart_1.png" class="img-fluid w-100" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="card-title text-uppercase fw-bold mb-0">Sales By Category</h5>
            </div>
            <div id="chart2">
              <img src="assets/images/chart_2.png" class="img-fluid w-100" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Section -->
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card h-100">
          <div class="card-header py-3">
            <h5 class="card-title text-uppercase fw-bold mb-0">Recent Orders</h5>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
              <thead>
              <tr>
                <th class="">Product ID</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Price</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <span class="text-muted">#001401</span>
                </td>
                <td>
                  <a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a>
                </td>
                <td>
                  20/03/2021
                </td>
                <td>
                  <span class="badge bg-success me-1"></span> Paid
                </td>
                <td>
                  $32,000
                </td>
                <td class="text-end actions">
                  <a href="#" class="me-2 text-decoration-none text-reset">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="text-decoration-none text-reset">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="text-muted">#001401</span>
                </td>
                <td>
                  <a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a>
                </td>
                <td>
                  20/03/2021
                </td>
                <td>
                  <span class="badge bg-success me-1"></span> Paid
                </td>
                <td>
                  $32,000
                </td>
                <td class="text-end actions">
                  <a href="#" class="me-2 text-decoration-none text-reset">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="text-decoration-none text-reset">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="text-muted">#001401</span>
                </td>
                <td>
                  <a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a>
                </td>
                <td>
                  20/03/2021
                </td>
                <td>
                  <span class="badge bg-success me-1"></span> Paid
                </td>
                <td>
                  $32,000
                </td>
                <td class="text-end actions">
                  <a href="#" class="me-2 text-decoration-none text-reset">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="text-decoration-none text-reset">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="text-muted">#001401</span>
                </td>
                <td>
                  <a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a>
                </td>
                <td>
                  20/03/2021
                </td>
                <td>
                  <span class="badge bg-success me-1"></span> Paid
                </td>
                <td>
                  $32,000
                </td>
                <td class="text-end actions">
                  <a href="#" class="me-2 text-decoration-none text-reset">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="text-decoration-none text-reset">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="text-muted">#001401</span>
                </td>
                <td>
                  <a href="invoice.html" class="text-reset" tabindex="-1">Design Works</a>
                </td>
                <td>
                  20/03/2021
                </td>
                <td>
                  <span class="badge bg-success me-1"></span> Paid
                </td>
                <td>
                  $32,000
                </td>
                <td class="text-end actions">
                  <a href="#" class="me-2 text-decoration-none text-reset">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="text-decoration-none text-reset">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center py-3">
            <h5 class="card-title text-uppercase fw-bold mb-0">Recent Orders</h5>
            <div class="dropdown ms-auto">
              <a class="" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View More</a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item active" href="#">Last 7 days</a>
                <a class="dropdown-item" href="#">Last 30 days</a>
                <a class="dropdown-item" href="#">Last 3 months</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
              <tbody>
              <tr>
                <td class="prod-title fw-bold">Iphone 12</td>
                <td class="text-end tag">
                  <small>Sold</small>
                  <span class="d-block number fw-bold">10</span>
                </td>
                <td class="text-end tag">
                  <small>left</small>
                  <span class="d-block number fw-bold">04</span>
                </td>
              </tr>
              <tr>
                <td class="prod-title fw-bold">Iphone 12</td>
                <td class="text-end tag">
                  <small>Sold</small>
                  <span class="d-block number fw-bold">10</span>
                </td>
                <td class="text-end tag">
                  <small>left</small>
                  <span class="d-block number fw-bold">04</span>
                </td>
              </tr>
              <tr>
                <td class="prod-title fw-bold">Iphone 12</td>
                <td class="text-end tag">
                  <small>Sold</small>
                  <span class="d-block number fw-bold">10</span>
                </td>
                <td class="text-end tag">
                  <small>left</small>
                  <span class="d-block number fw-bold">04</span>
                </td>
              </tr>
              <tr>
                <td class="prod-title fw-bold">Iphone 12</td>
                <td class="text-end tag">
                  <small>Sold</small>
                  <span class="d-block number fw-bold">10</span>
                </td>
                <td class="text-end tag">
                  <small>left</small>
                  <span class="d-block number fw-bold">04</span>
                </td>
              </tr>
              <tr>
                <td class="prod-title fw-bold border-0">Iphone 12</td>
                <td class="text-end tag border-0">
                  <small>Sold</small>
                  <span class="d-block number fw-bold">10</span>
                </td>
                <td class="text-end tag border-0">
                  <small>left</small>
                  <span class="d-block number fw-bold">04</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Cart List -->
    <div class="row">
      <div class="col mb-4">
        <div class="card border-0">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table table-bordered card-table cartlist mb-0">
                <thead>
                <tr>
                  <th class="">আইডি এন্ড ডেট</th>
                  <th>প্রোডাক্ট</th>
                  <th>কাস্টমার</th>
                  <th>টাকা ইনফো</th>
                  <th>স্ট্যাটাস</th>
                  <th>নোট</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="id-and-date pe-3">
                    <p class="customer-id"># 36C4V48623</p>
                    <p>২৩ সেপ্টেম্বর ২০২১<br>১০:০০ PM</p>
                    <p class="text-center"><a href="#" class="btn"><i class="fa fa-times me-1"></i>বাতিল</a></p>
                    <p class="text-center"><a href="#" class="btn"><i class="fa fa-redo me-1"></i>রিটার্ন</a></p>

                  </td>
                  <td class="product p-0">
                    <ol type="1" class="mb-0">
                      <li class="">
                        <p class="mb-0">নিউ স্মার্ট ওয়াচ ২০২১ এডিশন</p>
                        <ul class="list-inline prod-info">
                          <li class="list-inline-item prod-id">১২৩৪৫৬৮৭৮৯</li>
                          <li class="list-inline-item color">গোল্ড</li>
                          <li class="list-inline-item stock">৫০</li>
                        </ul>
                      </li>
                      <li class="">
                        <p class="mb-0">নিউ স্মার্ট ওয়াচ ২০২১ এডিশন</p>
                        <ul class="list-inline prod-info">
                          <li class="list-inline-item prod-id">১২৩৪৫৬৮৭৮৯</li>
                          <li class="list-inline-item color">গোল্ড</li>
                          <li class="list-inline-item stock">৫০</li>
                        </ul>
                      </li>
                      <li class="">
                        <p class="mb-0">নিউ স্মার্ট ওয়াচ ২০২১ এডিশন</p>
                        <ul class="list-inline prod-info">
                          <li class="list-inline-item prod-id">১২৩৪৫৬৮৭৮৯</li>
                          <li class="list-inline-item color">গোল্ড</li>
                          <li class="list-inline-item stock">৫০</li>
                        </ul>
                      </li>
                      <li class="">
                        <p class="mb-0">নিউ স্মার্ট ওয়াচ ২০২১ এডিশন</p>
                        <ul class="list-inline prod-info">
                          <li class="list-inline-item prod-id">১২৩৪৫৬৮৭৮৯</li>
                          <li class="list-inline-item color">গোল্ড</li>
                          <li class="list-inline-item stock">৫০</li>
                        </ul>
                      </li>
                    </ol>
                  </td>
                  <td class="customer">
                    <p class="customer-name mb-0">মোঃ রাকিব হাসান</p>
                    <p class="mb-1"><i class="fa fa-phone me-1"></i>০১৭৯ ৬০৩৭৪৫০</p>
                    <p class="mb-1"><i class="fa fa-map me-1"></i>এ এম মঞ্জিল সাগরপাড়া, রাজশাহী</p>
                    <p class="mb-1"><i class="fa fa-envelope me-1"></i>hello@shopname.com</p>
                  </td>
                  <td class="taka-info px-0">
                    <p class="clearfix mb-1 px-2">
                      <span class="float-start">টোটাল</span>
                      <span class="float-end amount">২১,০০০</span>
                    </p>
                    <p class="clearfix mb-1 px-2">
                      <span class="float-start">শিপিং</span>
                      <span class="float-end amount">০</span>
                    </p>
                    <p class="clearfix mb-1 px-2">
                      <span class="float-start">ডিসকাউন্ট</span>
                      <span class="float-end amount">১,০০০</span>
                    </p>
                    <p class="clearfix mb-1 px-2">
                      <span class="float-start">সাব টোটাল</span>
                      <span class="float-end amount">১,০০০</span>
                    </p>
                    <hr>
                    <p class="clearfix mb-1 px-2">
                      <span class="float-start">গ্র্যান্ড টোটাল</span>
                      <span class="float-end amount">২০,০০০</span>
                    </p>
                  </td>
                  <td class="status px-0">
                    <p class="px-2 title">পেমেন্ট</p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-paid">পেইড</a></p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-unpaid">আনপেইড</a></p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-cancel">ক্যানসেল</a></p>
                    <hr>
                    <p class="px-2 title">শিপিং</p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-pending">পেন্ডিং</a></p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-shipped">শিপড</a></p>
                    <p class="px-2 mb-1"><a href="#" class="btn btn-delivered">ডেলিভারড</a></p>
                  </td>
                  <td class="note px-0">
                    <p class="px-3 note-top-text">অর্থহীন লেখা যার মাঝে আছে অনেক কিছু। হ্যাঁ, এই  লেখার মাঝেই আছে অনেক কিছু।</p>
                    <hr>

                    <p class="px-3 d-flex justify-content-between btn-wrap">
                      <input type="checkbox" class="btn-check" id="btn-invoice" checked autocomplete="off">
                      <label class="btn btn-outline-primary me-2" for="btn-invoice"><i class="fa fa-check me-1"></i>ইনভয়েস</label>

                      <input type="checkbox" class="btn-check" id="btn-pause-invoice" checked autocomplete="off">
                      <label class="btn btn-outline-primary me-2" for="btn-pause-invoice"><i class="fa fa-check me-1"></i>পস ইনভয়েস</label>

                      <input type="checkbox" class="btn-check" id="btn-pad-invoice" checked autocomplete="off">
                      <label class="btn btn-outline-primary" for="btn-pad-invoice"><i class="fa fa-check me-1"></i>প্যাড ইনভয়েস</label>
                    </p>
                    <p class="px-3 d-flex justify-content-between btn-wrap">
                      <input type="checkbox" class="btn-check" id="btn-double-invoice" autocomplete="off">
                      <label class="btn btn-outline-primary me-2" for="btn-double-invoice"><i class="fa fa-check me-1"></i>ডাবল ইনভয়েস</label>

                      <input type="checkbox" class="btn-check" id="btn-courier-challan" autocomplete="off">
                      <label class="btn btn-outline-primary me-2" for="btn-courier-challan"><i class="fa fa-check me-1"></i>কুরিয়ার চালান</label>

                      <input type="checkbox" class="btn-check" id="btn-mushak" autocomplete="off">
                      <label class="btn btn-outline-primary" for="btn-mushak"><i class="fa fa-check me-1"></i>মুসক চালান</label>
                    </p>

                    <div class="px-3">
                      <a href="#" class="btn w-100 btn-primary"><i class="fa fa-print me-1"></i>প্রিন্ট</a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}